<template>
  <!-- App.vue -->
  <v-app>

    <alert/>
    <Dialog></Dialog>

    <v-navigation-drawer app v-model="drawer">
      <v-list>
          <v-list-item v-if="!guest">
            <v-list-item-avatar>
                <v-img :src="user.photo_profile ? apiDomain + user.photo_profile : 'https://randomuser.me/api/portraits/men/78.jpg'" alt=""></v-img>
            </v-list-item-avatar>
            <v-list-item-content>
                Welcome,
                <v-list-item-title><b>{{user.name.toUpperCase()}}</b></v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <div class="pa-2" v-if="guest">
              <v-btn block color="primary" class="mb-1" @click="login">
                <v-icon left>mdi-lock</v-icon>
                Login
              </v-btn>
              <v-btn block color="success" @click="register">
                <v-icon left>mdi-account</v-icon>
                Register
              </v-btn>
          </div>

          <v-divider></v-divider>

          <v-list-item 
              v-for="(item, index) in menus" 
              :key="`menu-${index}`"
              :to="item.route"
          >
              <v-list-item-icon>
                  <v-icon left>{{item.icon}}</v-icon>
              </v-list-item-icon>

              <v-list-item-content>
                  <v-list-item-title>{{item.title}}</v-list-item-title>
              </v-list-item-content>
          </v-list-item>
      </v-list>

      <template v-slot:append v-if="!guest">
        <div class="pa-2">
          <v-btn block color="blue" dark to="/bloginput">
          <v-icon left>mdi-message-plus</v-icon>
              Add Blog
          </v-btn>
        </div>
        <v-divider></v-divider>
        <div class="pa-2">
          <v-btn block color="red" dark @click="logout">
          <v-icon left>mdi-lock</v-icon>
              logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app color="purple" dark>
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>CobaCobaApp</v-toolbar-title>    
    
      <v-spacer></v-spacer>

    </v-app-bar>

    <!-- Sizes your content based upon application components -->
    <v-main>

      <!-- Provides the application the proper gutter -->
      <v-container fluid>
        <v-slide-y-transition>
          <router-view></router-view>
        </v-slide-y-transition>
      </v-container>
    </v-main>

    <v-footer
    dark
    padless
  >
    <v-card
      class="flex"
      flat
      tile
    >
      <v-card-title class="purple">
        <strong class="subheading">@sanbercode</strong>

        <v-spacer></v-spacer>

        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-4"
          dark
          icon
        >
          <v-icon size="24px">
            {{ icon }}
          </v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text class="py-4 white--text text-center">
        {{ new Date().getFullYear() }} — <strong>VueJS Batch 24</strong>
      </v-card-text>
    </v-card>
  </v-footer>

  </v-app>
</template>

<script>
import { mapActions, mapGetters } from 'vuex';
import Alert from './components/Alert.vue'
import Dialog from './components/Dialog'
import axios from 'axios'

export default {
  name: 'App',
  components: {Alert, Dialog},
  data: () => ({
    //
    apiDomain : 'https://demo-api-vue.sanbercloud.com',
    drawer : false,
    menus : [
      {title : 'Home', icon : 'mdi-home', route : '/'},
      {title : 'Blogs', icon : 'mdi-note', route : '/blogs'},
      {title : 'About Us', icon : 'mdi-emoticon', route : '/about'}
    ],
    icons: [
        'mdi-facebook',
        'mdi-twitter',
        'mdi-linkedin',
        'mdi-instagram',
      ]
    
  }),
  computed : {
    ...mapGetters({
      guest : 'auth/guest',
      user : 'auth/user',
      token : 'auth/token'
    })
  },
  methods : {
    logout(){

      let config = {
                method : 'post',
                url : `https://demo-api-vue.sanbercloud.com/api/v2/auth/logout`,
                headers: {
                    'Authorization': 'Bearer ' + this.token
                }
            }
            console.log(this.token)

              axios(config)
                .then(() => {
                    this.setToken('')
                    this.setUser({})

                    this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Anda berhasil logout'
                  })
                })
                .catch(() => {
                  this.setAlert({
                    status : true,
                    color : 'red',
                    text : 'Anda gagal logout'
                  })
                })
      
    },

    login(){
      // this.setAlert({
      //   status : true,
      //   color : 'success',
      //   text : 'Anda berhasil login'
      // })
      this.setDialogComponent({component:'login'})
    },
    register(){
      this.setDialogComponent({component:'register'})
    },

    ...mapActions({
      setAlert : 'alert/set',
      setDialogComponent : 'dialog/setComponent',
      checkToken : 'auth/checkToken',
      setUser : 'auth/setUser',
      setToken : 'auth/setToken'
    })
  },
  mounted(){
    if(this.token){
      this.checkToken(this.token)
    }
  }
};
</script>
